.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
    font-family: Arial, Helvetica, sans-serif;
}

.todo:nth-child(even) {
	background-color: #EEE;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 1 1 50px;
}

.todo .content {
	flex: 1 1 100%;
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}

.todo-submit {
	display: block;
	width: 75%;
	max-width: 150px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #08a015;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 17px;
	font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.todo .delete{
    display: block;
	width: 75%;
	max-width: 100px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #c7260a;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 15px;
	font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    


}