nav {
    background-color: skyblue;
    padding: 10px;
}

nav img{
    width: 120px;
}

nav ul {
    float: right;
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 20px;
}

li a {
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    font-size: large;
}