<nav>
    <img src="./assets/logo.png"/>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Users</a></li>
    </ul>
</nav>
